.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  html {
      scroll-behavior: smooth;
  }
  .circular--square {
    border-radius: 50%;
  }
  
  <style>
  .aligncenter {
      text-align: center;
  }
  </style>
  